In [4]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [5]:
tf.__version__

'2.13.0'

In [86]:
df = pd.read_csv('c:\ex\data\ThoraricSurgery3.csv')
df

,1,2.88,2.16,1.1,0,0.1,0.2,1.2,1.3,3,0.3,0.4,0.5,1.4,0.6,60,0.7
0,2,3.40,1.88,0,0,0,0,0,0,1,0,0,0,1,0,51,0
1,2,2.76,2.08,1,0,0,0,1,0,0,0,0,0,1,0,59,0
2,2,3.68,3.04,0,0,0,0,0,0,0,0,0,0,0,0,54,0
3,2,2.44,0.96,2,0,1,0,1,1,0,0,0,0,1,0,73,1
4,2,2.48,1.88,1,0,0,0,1,0,0,0,0,0,0,0,51,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,1,3.88,2.12,1,0,0,0,1,0,2,0,0,0,1,0,63,0
465,2,3.76,3.12,0,0,0,0,0,0,0,0,0,0,1,0,61,0
466,2,3.04,2.08,1,0,0,0,1,0,2,0,0,0,0,0,52,0
467,2,1.96,1.68,1,0,0,0,1,1,1,0,0,0,1,0,79,0
468,2,4.72,3.56,0,0,0,0,0,0,1,0,0,0,1,0,51,0

In [87]:
model = tf.keras.Sequential()

In [88]:
model

In [89]:
from tensorflow.keras.models import Sequential

In [90]:
from tensorflow.keras.models import Sequential

In [91]:
df.values[:, :16]

array([[ 2.  ,  3.4 ,  1.88, ...,  1.  ,  0.  , 51.  ],
       [ 2.  ,  2.76,  2.08, ...,  1.  ,  0.  , 59.  ],
       [ 2.  ,  3.68,  3.04, ...,  0.  ,  0.  , 54.  ],
       ...,
       [ 2.  ,  3.04,  2.08, ...,  0.  ,  0.  , 52.  ],
       [ 2.  ,  1.96,  1.68, ...,  1.  ,  0.  , 79.  ],
       [ 2.  ,  4.72,  3.56, ...,  1.  ,  0.  , 51.  ]])

In [92]:
x = df.values[:, :16]

In [93]:
x.shape

(469, 16)

In [94]:
y = df.values[:, 16]

In [95]:
y

array([0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0.])

In [96]:
# tf.keras.layers.Dense(
#     units,  # 레이어의 유닛 수 (출력의 차원 수)
#     activation=None,  # 활성화 함수. 예를 들어, 'relu', 'sigmoid', 'softmax' 등을 사용할 수 있습니다. 기본값은 None (활성화 함수 없음)
#     use_bias=True,  # 바이어스를 사용할지 여부. 기본값은 True (바이어스 사용)
#     kernel_initializer='glorot_uniform',  # 커널(가중치)의 초기화 방법. 'glorot_uniform'은 Glorot 균일 분포를 사용합니다. 기본값은 'glorot_uniform'
#     bias_initializer='zeros',  # 바이어스의 초기화 방법. 기본값은 'zeros' (0으로 초기화)
#     kernel_regularizer=None,  # 커널(가중치)에 대한 정규화 함수. 예: l1, l2 정규화. 기본값은 None (정규화 없음)
#     bias_regularizer=None,  # 바이어스에 대한 정규화 함수. 기본값은 None (정규화 없음)
#     activity_regularizer=None,  # 레이어의 출력에 대한 정규화 함수. 기본값은 None (정규화 없음)
#     kernel_constraint=None,  # 커널(가중치)에 대한 제약 조건. 예: max_norm, non_neg. 기본값은 None (제약 조건 없음)
#     bias_constraint=None,  # 바이어스에 대한 제약 조건. 기본값은 None (제약 조건 없음)
#     **kwargs  # 기타 추가 매개변수
# )

In [97]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Sequential 모델 생성
model = tf.keras.Sequential()

# 첫 번째 Dense 레이어 추가
model.add(Dense(30, input_dim=16, activation='relu'))

# 두 번째 Dense 레이어 추가
model.add(Dense(1, activation='sigmoid'))

In [98]:
# 모델 컴파일
model.compile(
    loss='binary_crossentropy',  # 손실 함수: 이진 분류 문제에 적합한 이진 교차 엔트로피 손실 함수
    optimizer='adam',            # 최적화 알고리즘: Adam 최적화 알고리즘을 사용하여 가중치 업데이트
    metrics=['accuracy']         # 평가 지표: 모델의 정확도를 모니터링
)

# 모델 학습
model.fit(
    x,                          # 학습에 사용할 입력 데이터. (특성 데이터셋)
    y,                          # 학습에 사용할 레이블 데이터. (목표값 데이터셋)
    epochs=5,                   # 에포크 수: 전체 데이터셋을 5번 반복하여 학습
    batch_size=32,              # 배치 크기: 한 번의 가중치 업데이트에 사용할 샘플 수 (32개 샘플)
    validation_split=0.2        # 검증 데이터 비율: 전체 학습 데이터 중 20%를 검증 데이터로 사용하여 모델 성능을 평가
)

Epoch 1/5
12/12 [==============================] - 0s 10ms/step - loss: 2.2569 - accuracy: 0.8373 - val_loss: 1.0094 - val_accuracy: 0.9043
Epoch 2/5
12/12 [==============================] - 0s 3ms/step - loss: 1.4857 - accuracy: 0.8373 - val_loss: 0.5931 - val_accuracy: 0.9043
Epoch 3/5
12/12 [==============================] - 0s 3ms/step - loss: 0.7385 - accuracy: 0.8347 - val_loss: 0.3737 - val_accuracy: 0.8511
Epoch 4/5
12/12 [==============================] - 0s 3ms/step - loss: 0.5297 - accuracy: 0.7680 - val_loss: 0.4379 - val_accuracy: 0.8085
Epoch 5/5
12/12 [==============================] - 0s 3ms/step - loss: 0.4740 - accuracy: 0.8347 - val_loss: 0.3243 - val_accuracy: 0.8936

In [99]:
469/32

14.65625

In [115]:
model