In [14]:
from tensorflow.keras.models import Sequential

In [15]:
from tensorflow.keras.layers import Dense

In [1]:
import pandas as pd

In [2]:
!git clone https://github.com/taehojo/data.git

Cloning into 'data'...

In [3]:
pd.read_csv('./data/ThoraricSurgery3.csv')

,1,2.88,2.16,1.1,0,0.1,0.2,1.2,1.3,3,0.3,0.4,0.5,1.4,0.6,60,0.7
0,2,3.40,1.88,0,0,0,0,0,0,1,0,0,0,1,0,51,0
1,2,2.76,2.08,1,0,0,0,1,0,0,0,0,0,1,0,59,0
2,2,3.68,3.04,0,0,0,0,0,0,0,0,0,0,0,0,54,0
3,2,2.44,0.96,2,0,1,0,1,1,0,0,0,0,1,0,73,1
4,2,2.48,1.88,1,0,0,0,1,0,0,0,0,0,0,0,51,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,1,3.88,2.12,1,0,0,0,1,0,2,0,0,0,1,0,63,0
465,2,3.76,3.12,0,0,0,0,0,0,0,0,0,0,1,0,61,0
466,2,3.04,2.08,1,0,0,0,1,0,2,0,0,0,0,0,52,0
467,2,1.96,1.68,1,0,0,0,1,1,1,0,0,0,1,0,79,0
468,2,4.72,3.56,0,0,0,0,0,0,1,0,0,0,1,0,51,0

In [4]:
pd.read_csv('./data/ThoraricSurgery3.csv', header=None)

     0     1     2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0     1  2.88  2.16   1   0   0   0   1   1   3   0   0   0   1   0  60   0
1     2  3.40  1.88   0   0   0   0   0   0   1   0   0   0   1   0  51   0
2     2  2.76  2.08   1   0   0   0   1   0   0   0   0   0   1   0  59   0
3     2  3.68  3.04   0   0   0   0   0   0   0   0   0   0   0   0  54   0
4     2  2.44  0.96   2   0   1   0   1   1   0   0   0   0   1   0  73   1
..   ..   ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
465   1  3.88  2.12   1   0   0   0   1   0   2   0   0   0   1   0  63   0
466   2  3.76  3.12   0   0   0   0   0   0   0   0   0   0   1   0  61   0
467   2  3.04  2.08   1   0   0   0   1   0   2   0   0   0   0   0  52   0
468   2  1.96  1.68   1   0   0   0   1   1   1   0   0   0   1   0  79   0
469   2  4.72  3.56   0   0   0   0   0   0   1   0   0   0   1   0  51   0

[470 rows x 17 columns]

In [5]:
Data_set = pd.read_csv('./data/ThoraricSurgery3.csv', header=None)

In [7]:
Data_set.shape

(470, 17)

In [6]:
X = Data_set.values[:, :16]
y = Data_set.values[:, 16]

In [8]:
X.shape

(470, 16)

In [9]:
y.shape

(470,)

In [11]:
import tensorflow as tf

In [12]:
tf.__version__

'2.17.0'

In [19]:
470 / 32

14.6875

In [18]:
model = Sequential()
model.add(Dense(30, input_dim=16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy',
              optimizer='adam', metrics=['accuracy'])
model.fit(X, y, epochs=5)

Epoch 1/5
15/15 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8490 - loss: 0.5739
Epoch 2/5
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7755 - loss: 0.5845
Epoch 3/5
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 983us/step - accuracy: 0.8638 - loss: 0.4623
Epoch 4/5
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8188 - loss: 0.4808
Epoch 5/5
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8431 - loss: 0.4720

In [20]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_4 (Dense)                 │ (None, 30)             │           510 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,625 (6.35 KB)

 Trainable params: 541 (2.11 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 1,084 (4.24 KB)

In [1]:
541*2

1082