In [1]:
pwd

'c:\\ex\\py\\중급_수학통계'

In [65]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [66]:
df = pd.read_excel('./10장_상관계수.xlsx', sheet_name='광고비와 매출액')
df

      연도  광고비  매출액
0   2006   13   94
1   2007    8   70
2   2008   10   90
3   2009   15  100
4   2010   12   95
5   2011   15  100
6   2012   14   85
7   2013   15   95
8   2014   17  105
9   2015   19  105
10  2016   20  110
11  2017   21  105
12  2018   22  104
13  2019   21  105
14  2020   25  121

In [67]:
df.columns

Index(['연도', '광고비', '매출액'], dtype='object')

In [68]:
df['연도']

0     2006
1     2007
2     2008
3     2009
4     2010
5     2011
6     2012
7     2013
8     2014
9     2015
10    2016
11    2017
12    2018
13    2019
14    2020
Name: 연도, dtype: int64

In [69]:
dtr = df.transpose()
dtr

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
연도,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
광고비,13,8,10,15,12,15,14,15,17,19,20,21,22,21,25
매출액,94,70,90,100,95,100,85,95,105,105,110,105,104,105,121

In [70]:
df.describe()

                연도        광고비         매출액
count    15.000000  15.000000   15.000000
mean   2013.000000  16.466667   98.933333
std       4.472136   4.793845   11.804761
min    2006.000000   8.000000   70.000000
25%    2009.500000  13.500000   94.500000
50%    2013.000000  15.000000  100.000000
75%    2016.500000  20.500000  105.000000
max    2020.000000  25.000000  121.000000

In [71]:
df.mean(axis=0)

연도     2013.000000
광고비      16.466667
매출액      98.933333
dtype: float64

In [15]:
df.std(ddof=0)

연도      4.320494
광고비     4.631295
매출액    11.404483
dtype: float64

In [16]:
df.std(ddof=1)

연도      4.472136
광고비     4.793845
매출액    11.804761
dtype: float64

In [19]:
df.corr()

           연도       광고비       매출액
연도   1.000000  0.936223  0.763095
광고비  0.936223  1.000000  0.887921
매출액  0.763095  0.887921  1.000000

In [20]:
df.광고비

0     13
1      8
2     10
3     15
4     12
5     15
6     14
7     15
8     17
9     19
10    20
11    21
12    22
13    21
14    25
Name: 광고비, dtype: int64

In [21]:
df.매출액

0      94
1      70
2      90
3     100
4      95
5     100
6      85
7      95
8     105
9     105
10    110
11    105
12    104
13    105
14    121
Name: 매출액, dtype: int64

In [22]:
formula = '매출액 ~ 광고비'

In [25]:
smf.ols(formula,df).fit()

In [26]:
li_model = smf.ols(formula,df).fit()

In [28]:
li_model.summary()

c:\ProgramData\anaconda3\envs\ai1\lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  res = hypotest_fun_out(*samples, **kwds)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    매출액   R-squared:                       0.788
Model:                            OLS   Adj. R-squared:                  0.772
Method:                 Least Squares   F-statistic:                     48.44
Date:                Fri, 09 Aug 2024   Prob (F-statistic):           9.92e-06
Time:                        09:31:15   Log-Likelihood:                -46.146
No. Observations:                  15   AIC:                             96.29
Df Residuals:                      13   BIC:                             97.71
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     62.9291      5.374     11.710      0.000      51.319      74.539
광고비            2.1865      0.314      6.960      0.000       1.508       2.865
==============================================================================
Omnibus:                        2.392   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.302   Jarque-Bera (JB):                1.760
Skew:                          -0.696   Prob(JB):                        0.415
Kurtosis:                       2.063   Cond. No.                         63.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [30]:
print(li_model)

<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x00000214E37EC430>

In [18]:
np.corrcoef(df.광고비, df.매출액)

array([[1.       , 0.8879209],
       [0.8879209, 1.       ]])

In [31]:
df.columns

Index(['연도', '광고비', '매출액'], dtype='object')

In [33]:
dff = pd.DataFrame(data = df, columns=['광고비', '매출액'])
dff

    광고비  매출액
0    13   94
1     8   70
2    10   90
3    15  100
4    12   95
5    15  100
6    14   85
7    15   95
8    17  105
9    19  105
10   20  110
11   21  105
12   22  104
13   21  105
14   25  121

In [44]:
df.iloc[2]

광고비    10
매출액    90
Name: 2008, dtype: int64

In [72]:
df

      연도  광고비  매출액
0   2006   13   94
1   2007    8   70
2   2008   10   90
3   2009   15  100
4   2010   12   95
5   2011   15  100
6   2012   14   85
7   2013   15   95
8   2014   17  105
9   2015   19  105
10  2016   20  110
11  2017   21  105
12  2018   22  104
13  2019   21  105
14  2020   25  121

In [63]:
df

      광고비  매출액
연도
2006   13   94
2007    8   70
2008   10   90
2009   15  100
2010   12   95
2011   15  100
2012   14   85
2013   15   95
2014   17  105
2015   19  105
2016   20  110
2017   21  105
2018   22  104
2019   21  105
2020   25  121

In [73]:
df.columns

Index(['연도', '광고비', '매출액'], dtype='object')

In [76]:
df.drop(columns="연도")

    광고비  매출액
0    13   94
1     8   70
2    10   90
3    15  100
4    12   95
5    15  100
6    14   85
7    15   95
8    17  105
9    19  105
10   20  110
11   21  105
12   22  104
13   21  105
14   25  121